@import 'reset';

:root {
    --primary-color: #222;
    --primary-txt: #252525;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}

[class*="fa-"] {
    vertical-align: middle;
}
// checkbox
[type="checkbox"] {
    display: none !important;

    + label {
        display: flex;
        align-items: center;
        cursor: pointer;

        .check_ico {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border: 1px solid var(--primary-color);
            margin-right: 5px;
            flex: 0 0 auto;
            transition: background .3s ease;
            align-self: flex-start;

            i {
                display: block;
                font-size: 15px;
                color: #fff;
                opacity: 0;
                transition: opacity .3s ease;

            }

        }

        .txt {
            display: block;
            font-size: 15px;
            color: var(--primary-txt);
            line-height: 1.3;
            word-break: break-all;
        }

    }

    &:checked {
        + label {
            .check_ico {
                background: var(--primary-color);

                i {
                    opacity: 1;
                }

            }

            .txt {
                color: #888;
                text-decoration: line-through;
            }
        }
    }

}

.input_item {
    display: flex;
    align-items: center;
    height: 40px;

    input {
        display: block;
        width: 100%;
        height: 100%;
        border-color: var(--primary-color);
        font-size: 16px;
    }
    
    .btn {
        display: block;
        width: 100%;
        max-width: 50px;
        height: 100%;
        margin-left: 5px;
        font-weight: 700;
        flex: 0 0 auto;

        & + .btn {
            margin-left: 5px;
        }

        &.bg_black {
            background: var(--primary-color);
            color: #fff;
        }

        &.line_black {
            border: 1px solid var(--primary-color);
        }

        i {
            font-size: 20px;
        }

    }
    
}

.todolist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 80%;
    padding: 5px;
    background: #fff;

    .header {
        margin-bottom: 5px;
        padding: 10px 5px;
        border: 2px solid var(--primary-color);

        .ttl {
            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
            color: var(--primary-color);
        }
    }
    
    .body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        border: 2px solid var(--primary-color);
        flex: 1 1 auto;
        overflow: hidden;

        .type_add {
            padding: 5px 5px 10px;
            border-bottom: 2px solid var(--primary-color);
            height: 55px;

        }

        .list_box {
            padding: 5px;
            overflow-y: auto;
            flex: 1;

            li {
                
                padding: 10px 5px;
                border-bottom: 1px solid var(--primary-color);
                background: #fff;

                .view_item {
                    display: flex;
                    align-items: flex-start;

                    .check_item {
                        align-self: center;
                        padding-right: 10px;
                        flex: 1;
                    }

                    .util {
                        display: flex;
                        margin-left: auto;
                        flex: 0 0 auto;

                        button {
                            display: block;
                            width: 25px;
                            height: 25px;
                            font-size: 18px;

                            + button {
                                margin-left: 4px;
                            }
                        }
                    }
                    .move_btn {
                        display: block;
                        width: 25px;
                        height: 25px;
                        font-size: 18px;
                        margin-left: 4px;
                        flex: 0 0 auto;
                    }
                }

                &.complete {
                    .util {
                        display: none;
                    }
                }

                &.blank {
                    opacity: 0.5;
                }

                &.clone {
                    border: 1px solid var(--primary-color);
                    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
                }

            }
        }

        .state_row {
            display: flex;
            border-top: 2px solid var(--primary-color);
            padding: 5px;

            button {
                position: relative;
                display: block;
                padding: 6px;
                font-size: 16px;
                font-weight: 400;
                color: var(--primary-color);
                flex: 1;

                & + button {
                    margin-left: 5px;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    background: var(--primary-color);
                    opacity: 0.5;
                    transition: all .3s .2s;
                    content: '';
                }

                &::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    background: var(--primary-color);
                    transition: all .3s;
                    content: '';
                }

                &:hover {
                    color: #fff;

                    &::before {
                        width: 100%;
                        right: auto;
                        left: 0;
                        transition: all .3s;
                    }

                    &::after {
                        width: 100%;
                        right: auto;
                        left: 0;
                        transition: all .3s .2s;
                    }

                }
                
                &.on {
                    color: #fff;

                    &::before {
                        width: 100%;
                        right: auto;
                        left: 0;
                        transition: all .3s;
                    }
                    &::after {
                        width: 100%;
                        right: auto;
                        left: 0;
                        transition: all .3s .2s;
                    }
                }

                span {
                    position: relative;
                    z-index: 1;
                    color: inherit;
                    transition: all .5s;
                }

            }
        }

    }


}

.theme_custom {
    position: absolute;
    bottom: 10px;
    right: 10px;

    &_btn {
        display: block;
        width: 50px;
        height: 50px;
        font-size: 20px;
        color: var(--primary-color);
        background: rgba(255,255,255,1);
        border-radius: 50%;
    }

    &_input {
        display: none;
        position: absolute;
        bottom: 100%;
        right: 100%;
        width: 50px;
        height: 50px;
        padding: 0;

    }
    
}