@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  letter-spacing: -0.04em;
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  border: none;
  background: none;
  border-radius: 0;
  cursor: pointer;
}

input, textarea {
  border: 1px solid #252525;
  border-radius: 0;
  padding: 0 10px;
}

:root {
  --primary-color: #222;
  --primary-txt: #252525;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}

[class*=fa-] {
  vertical-align: middle;
}

[type=checkbox] {
  display: none !important;
}
[type=checkbox] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
[type=checkbox] + label .check_ico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-color);
  margin-right: 5px;
  flex: 0 0 auto;
  transition: background 0.3s ease;
  align-self: flex-start;
}
[type=checkbox] + label .check_ico i {
  display: block;
  font-size: 15px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}
[type=checkbox] + label .txt {
  display: block;
  font-size: 15px;
  color: var(--primary-txt);
  line-height: 1.3;
  word-break: break-all;
}
[type=checkbox]:checked + label .check_ico {
  background: var(--primary-color);
}
[type=checkbox]:checked + label .check_ico i {
  opacity: 1;
}
[type=checkbox]:checked + label .txt {
  color: #888;
  text-decoration: line-through;
}

.input_item {
  display: flex;
  align-items: center;
  height: 40px;
}
.input_item input {
  display: block;
  width: 100%;
  height: 100%;
  border-color: var(--primary-color);
  font-size: 16px;
}
.input_item .btn {
  display: block;
  width: 100%;
  max-width: 50px;
  height: 100%;
  margin-left: 5px;
  font-weight: 700;
  flex: 0 0 auto;
}
.input_item .btn + .btn {
  margin-left: 5px;
}
.input_item .btn.bg_black {
  background: var(--primary-color);
  color: #fff;
}
.input_item .btn.line_black {
  border: 1px solid var(--primary-color);
}
.input_item .btn i {
  font-size: 20px;
}

.todolist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  height: 80%;
  padding: 5px;
  background: #fff;
}
.todolist .header {
  margin-bottom: 5px;
  padding: 10px 5px;
  border: 2px solid var(--primary-color);
}
.todolist .header .ttl {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary-color);
}
.todolist .body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  border: 2px solid var(--primary-color);
  flex: 1 1 auto;
  overflow: hidden;
}
.todolist .body .type_add {
  padding: 5px 5px 10px;
  border-bottom: 2px solid var(--primary-color);
  height: 55px;
}
.todolist .body .list_box {
  padding: 5px;
  overflow-y: auto;
  flex: 1;
}
.todolist .body .list_box li {
  padding: 10px 5px;
  border-bottom: 1px solid var(--primary-color);
  background: #fff;
}
.todolist .body .list_box li .view_item {
  display: flex;
  align-items: flex-start;
}
.todolist .body .list_box li .view_item .check_item {
  align-self: center;
  padding-right: 10px;
  flex: 1;
}
.todolist .body .list_box li .view_item .util {
  display: flex;
  margin-left: auto;
  flex: 0 0 auto;
}
.todolist .body .list_box li .view_item .util button {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 18px;
}
.todolist .body .list_box li .view_item .util button + button {
  margin-left: 4px;
}
.todolist .body .list_box li .view_item .move_btn {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 18px;
  margin-left: 4px;
  flex: 0 0 auto;
}
.todolist .body .list_box li.complete .util {
  display: none;
}
.todolist .body .list_box li.blank {
  opacity: 0.5;
}
.todolist .body .list_box li.clone {
  border: 1px solid var(--primary-color);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.todolist .body .state_row {
  display: flex;
  border-top: 2px solid var(--primary-color);
  padding: 5px;
}
.todolist .body .state_row button {
  position: relative;
  display: block;
  padding: 6px;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  flex: 1;
}
.todolist .body .state_row button + button {
  margin-left: 5px;
}
.todolist .body .state_row button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: var(--primary-color);
  opacity: 0.5;
  transition: all 0.3s 0.2s;
  content: "";
}
.todolist .body .state_row button::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: var(--primary-color);
  transition: all 0.3s;
  content: "";
}
.todolist .body .state_row button:hover {
  color: #fff;
}
.todolist .body .state_row button:hover::before {
  width: 100%;
  right: auto;
  left: 0;
  transition: all 0.3s;
}
.todolist .body .state_row button:hover::after {
  width: 100%;
  right: auto;
  left: 0;
  transition: all 0.3s 0.2s;
}
.todolist .body .state_row button.on {
  color: #fff;
}
.todolist .body .state_row button.on::before {
  width: 100%;
  right: auto;
  left: 0;
  transition: all 0.3s;
}
.todolist .body .state_row button.on::after {
  width: 100%;
  right: auto;
  left: 0;
  transition: all 0.3s 0.2s;
}
.todolist .body .state_row button span {
  position: relative;
  z-index: 1;
  color: inherit;
  transition: all 0.5s;
}

.theme_custom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.theme_custom_btn {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: var(--primary-color);
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.theme_custom_input {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 100%;
  width: 50px;
  height: 50px;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
